.footer {
	padding: 16px;
	border-top: 1px solid var(--c-gray);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	@media (min-width: 768px) {
		grid-template-columns: repeat(4, 1fr);
	}

	&-widget__title {
		font-size: 16px;
        text-align: center;
	}
}
