.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:not(:first-child) {
		border-top: 1px solid var(--c-gray-1);
	}
	&__toggle {
		position: absolute;
		left: -9999px;
		&:checked + .todo-item__text {
			background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
		}
	}
	&__text {
		background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E);
		background-repeat: no-repeat;
		background-position: center left;

		margin: 5px;
		word-break: break-all;
		padding: 5px 5px 5px 60px;
		font-weight: 400;
	}
	&__actions {
		display: flex;
		align-items: center;
	}
	&__color-select {
		width: 90px;
		padding: 4px 8px;
		margin: 0 10px;
		border-color: var(--c-gray);
		border-radius: 3px;
	}
	&__delete {
		background: none;
		border: none;
		cursor: pointer;
		color: var(--c-gray);
		svg {
			width: 16px;
		}
	}
}
