:root {
	--c-main: #764abc;
	--c-text: #404040;
	--c-white: #fff;
	--c-gray: #cc9a9a;
	--c-gray-1: #ededed;

	--f-main: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial,
		sans-serif;
}

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	font-family: var(--f-main);
	color: var(--c-text);
	line-height: 1.5;
	background: var(--white);
}

h1 {
	line-height: 1.1;
}

main {
	background: #f5f5f5;
	padding: 48px 0;
}

.container {
	@media (min-width: 1024px) {
		max-width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
		margin-right: auto;
		margin-left: auto;
	}
}

@import 'scss/loader';
